@import 'fonts.css';
:root{
  --d: 'dudek';
  --green: #74CD4B;
  --white: #ffffff;
  --black: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--d);
  font-weight: 400;
  list-style: none;
}
body{
  background: #ececec;
}
.container{
  max-width: 1650px;
  width: 100%;
  /* border: 1px solid red; */
  padding: 0 15px;
  margin: 0 auto;
}
/* navbar */
.navbar{
  width: 100%;
  /* background: rgba(0, 0, 0, 0.9); */
  padding: 40px 0;
  position: absolute;
  top: 0;
  z-index: 200;
  /* backdrop-filter: blur(15px); */
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav__btn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  width: 37px;
  height: 37px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.navbar-nav__btn span{
  width: 100%;
  background: #ffffff;
  height: 3px;
}
.navbar-nav__btn span:nth-child(2){
  width: 25px;
}
.navbar-nav__logo{
  display: flex;
  align-items: center;
}
.navbar-nav__logo img{
  width: 262px;
}
.navbar-nav__lang{
  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

.btn-message{
  width: 100px;
  height: 100px;
  background: #74CD4B;
  box-shadow: 1px 1px 17px #74CD4B;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 80px;
  bottom: 80px;
  z-index: 100;
}
.btn-message svg{
  fill: #000000;
  transition: all 0.3s;
}
.btn-message:hover svg{
  fill: #ffffff;
}

.menu{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  opacity: 0;
  display: none;
}
.menu-navbar{
  width: 180px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 35px;
  transform: translateX(-180px);
}
.menu-logo{
  padding: 40px 24px;
}
.menu-logo img{
  width: 118px;
}
.menu-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu-list a{
  padding: 10px 24px;
  display: flex;
  color: #ffffff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  transition: all 0.3s;
}
.menu-list a:hover{
  text-shadow: 0 0 20px #ffffff;
}
/* header */
.header{
  width: 100%;
  height: 1080px;
  background: #000000;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.header-bg{
  width: 60%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.header-dot{
  width: 40%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  right: 0;
  top: 0;
}
.header-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
  gap: 30px;
  position: relative;
  z-index: 10;
  height: 100%;
  align-content: flex-end;
  padding-bottom: 80px;
}
.header-content h1,
.header-content h2{
  font-size: 60px;
  line-height: 85px;
  font-weight: 500;
  text-transform: uppercase;
}
.header-content p{
  width: 25%;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
}
.header-content h1{
  width: 100%;
}
.header-content h2{
  order: 1;
}
/* with us */
.with-us{
  width: 100%;
  min-height: 700px;
  position: relative;
  margin: 114px 0;
  padding: 153px 0;
}
.with-us__dot{
  width: 35%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
}
.with-us__content{
  position: relative;
  z-index: 1;
  display: flex;
  gap: 80px;
  
}
.with-us__content--img{
  width: 40%;
  height: 100%;
  object-fit: cover;
  padding: 20px 0;
}
.with-us__content--info{
  width: 60%;
}
.with-us__content--info h3{
  font-size: 45px;
  line-height: 63px;
  font-weight: 300;
  margin-bottom: 8px;
}
.with-us__content--info h2{
  font-size: 60px;
  line-height: 64px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.with-us__content--list li{
  border-bottom: 2px solid var(--black);
  margin-bottom: 60px;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-start;
  gap: 80px;
}
.with-us__content--list li:last-of-type{
  margin: 0;
}
.with-us__content--list h5{
  padding-left: 50px;
  width: 40%;
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}
.with-us__content--list h5::before{
  width: 10px;
  height: 10px;
  content: '';
  position: absolute;
  left: 20px;
  border-radius: 10px;
  background: #000000;
}
.with-us__content--list p{
  width: 60%;
  font-size: 22px;
  line-height: 31px;
}
/* .services */
.services{
  width: 100%;
}
.services-title h3{
  font-size: 45px;
  line-height: 63px;
  font-weight: 300;
  margin-bottom: 8px;
}
.services-title h2{
  font-size: 60px;
  line-height: 64px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.services-content{
  width: 100%;
  background: var(--black);
  padding: 83px 0;
}
.services-items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 2%;
  justify-content: center;
}
.services-item{
  width: 23.5%;
  min-height: 200px;
  background: var(--black);
  padding-top: 50px;
}
.services-item__content{
  width: 100%;
  height: 100%;
  border: 2px solid var(--white);
  position: relative;
  padding: 40px 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
}
.services-item__content--img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: 7px;
  background: var(--black);
}
.services-item__content--img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-item__content h3{
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  color: var(--white);
}
.services-item__content--link{
  background: var(--green);
  padding: 12px 25px;
  color: var(--white);
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  transition: box-shadow 0.3s;
}
.services-item__content--link:hover{
  box-shadow: 1px 1px 17px #74CD4B;;
}
/* .portfolio */
.portfolio{
  width: 100%;
  min-height: 800px;
  position: relative;
  margin: 70px 0 50px;
  overflow: hidden;
}
.portfolio-dot{
  width: 65%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
}
.portfolio-title{
  width: 100%;
  padding: 30px 0 40px;
}
.portfolio-title h2{
  font-size: 60px;
  line-height: 84px;
  font-weight: 500;
  text-transform: uppercase;
}
.portfolio-gallery{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 30px;
  /* min-height: 700px; */
  position: relative;
  z-index: 1;
}
.portfolio-item{
  background: black;
}
.portfolio-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.portfolio-item:first-of-type{
  grid-column: span 5;
  grid-row: span 2;
}
.portfolio-item:nth-child(2),
.portfolio-item:nth-child(4){
  grid-column: span 4;
}
.portfolio-item:nth-child(3),
.portfolio-item:nth-child(5){
  grid-column: span 3;
}


@media (max-width: 1600px){
  .with-us{
    padding: 50px 0;
    margin: 50px 0;
  }
  .with-us__content--list li{
    margin-bottom: 20px;
    padding-bottom: 25px;
    gap: 15px
  }
  .with-us__content{
    gap: 30px;
  }
  .with-us__content--info h3,
  .services-title h3{
    font-size: 35px;
    line-height: 40px;
  }
  .with-us__content--info h2,
  .services-title h2{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  
}
@media (max-width: 1400px){
  .header-bg{
    width: 70%;
    object-position: 50%;
  }
  .header-dot{
    width: 30%;
  }
  .header-content p{
    width: 30%;
  }
  .with-us__content--img{
    height: auto;
  }
  .with-us__content--list h5{
    font-size: 22px;
    width: 35%;
  }
  .with-us__content--list p{
    font-size: 18px;
  }
}
@media (max-width: 1200px){
  .header-bg{
    object-position: 70%;
  }
  .btn-message{
    width: 70px;
    height: 70px;
    right: 40px;
    bottom: 40px;
  }
  .btn-message svg{
    width: 40px;
    height: 40px;
  }
  .header-content{
    gap: 40px;
    padding-bottom: 40px;
  }
  .header-content h1,
  .header-content h2{
    font-size: 50px;
    line-height: 50px;
  }
  .with-us__content--info,
  .with-us__content--img{
    width: 50%;
  }
  .with-us__content--list li{
    flex-direction: column;
  }
  .with-us__content--list h5{
    font-size: 20px;
    width: 100%;
  }
  .with-us__content--list p{
    font-size: 16px;
    width: 100%;
  }
  .services-item{
    width: 32%;
  }
  .services-item__content--link{
    padding: 10px 18px;
    font-size: 18px;
    line-height: 25px;
  }
  .services-item__content h3{
    font-size: 20px;
    line-height: 25px;
  }
  .services-item__content--img{
    width: 80px;
    height: 80px;
    top: -40px;
  }
}
@media (max-width: 992px){
  .header{
    height: 700px;
  }
  .navbar{
    padding: 30px 0;
  }
  .navbar-nav__logo img{
    width: 200px;
  }
  .header-content p{
    width: 40%;
    font-size: 20px;
  }
  .header-content h1,
  .header-content h2{
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 768px){
  .btn-message{
    width: 50px;
    height: 50px;
    right: 25px;
    bottom: 25px;
  }
  .btn-message svg{
    width: 30px;
    height: 30px;
  }
  .header{
    height: 550px;
  }
  .navbar-nav__btn{
    width: 27px;
    height: 27px;
    gap: 5px;
  }
  .navbar-nav__btn span{
    height: 2.5px;
  }
  .navbar-nav__btn span:nth-child(2){
    width: 19px;
  }
  .navbar-nav__lang{
    font-size: 20px;
    line-height: 28px;
  }
  .header-content p{
    width: 40%;
    font-size: 18px;
  }
  .header-content h1,
  .header-content h2{
    font-size: 25px;
    line-height: 35px;
  }
  .with-us__content{
    flex-direction: column;
  }
  .with-us__content--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .with-us__content--list li{
    width: 45%;
  }
  .with-us__content--list li:last-of-type{
    margin-bottom: 20px;
  }
  .with-us__content--info,
  .with-us__content--img{
    width: 100%;
  }
  .with-us__content--info{
    text-align: center;
  }
  .with-us__content--img{
    height: 400px;
  }
  .with-us__content--list h5{
    justify-content: center;
    align-items: center;
    padding: 0;
    /* flex-direction: column; */
  }
  .with-us__content--list h5::before{
    position: relative;
    left: -20px;
  }
  .with-us__dot{
    width: 100%;
    height: 400px;
    left: -20px
  }
  .with-us{
    margin: 40px 0;
  }
  .services-item{
    width: 49%;
  }
  .services-title{
    text-align: center;
  }
  .portfolio-gallery{
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-item:nth-child(1),
  .portfolio-item:nth-child(2),
  .portfolio-item:nth-child(5),
  .portfolio-item:nth-child(4){
    grid-column: unset;
    grid-row: unset;
  }
  .portfolio-item:nth-child(3){
    grid-column: span 2;
  }
  .portfolio-item{
    height: 300px;
  }
}
@media (max-width: 576px){
  .header-content{
    gap: 10px;
    padding-bottom: 15px;
  }
  .header-content p{
    width: 85%;
    font-size: 16px;
    line-height: 20px;
  }
  .header-content h2{
    order: 0;
  }
  .header-content h1,
  .header-content h2{
    font-size: 20px;
    line-height: 28px;
  }
  .with-us__content--list li{
    width: 100%;
  }
  .with-us__content--info h3,
  .services-title h3{
    font-size: 25px;
    line-height: 25px;
  }
  .with-us__content--info h2,
  .services-title h2{
    font-size: 35px;
    line-height: 40px;
  }
  .services-item{
    width: 100%;
    padding-top: 30px;
  }
  .services-item__content--img{
    width: 90px;
    height: 90px;
    top: -45px;
  }
  .services-item__content h3{
    font-size: 22px;
  }
  .services-content{
    padding: 50px 0;
  }
  .portfolio-gallery{
    grid-template-columns: 1fr;
  }
  .portfolio-item:nth-child(3){
    grid-column: unset;
  }
  .portfolio-dot{
    width: 150%;
    height: 500px;
    left: 13px;
  }
}
@media (max-width: 480px){
  .navbar-nav__logo img{
    width: 144px;
  }
  .header{
    height: 450px;
    align-items: flex-end;
  }
  .header-bg{
    width: 100%;
    height: 400px;
    object-fit: contain;
    z-index: 1;
    bottom: -30px;
    top: unset;
  }
  .header-dot{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
}
@media (max-width: 360px){}